<table class="table is-fullwidth">
  {{#each placemark.places}}
  <div class="card">
    
    <div class="card-content">
      <div class="media"></div>
      <div class="media">
        <div class="media-fleft">
        {{#ifCond isPublic true}}
        <span class="icon is-small">
          <i class="fas fa-user-friends"></i>
        </span>
        {{else}}
        <span class="icon is-small">
          <i class="fas fa-users-slash"></i>
        </span>
        {{/ifCond}}
      </div>
        <div class="media-content">
        <p class="title is-4"> {{name}}</p>
      </div>
      <a href="/place/{{_id}}" class="button">
        <span class="icon is-small">
          <i class="fas fa-folder-open"></i>
        </span>
      </a>
      <a href="/place/{{_id}}/addfavourites" class="button">
        <span class="icon is-small">
          <i class="fas fa-star"></i>
        </span>
      </a>
    </div>
    
    {{> place-image }}

    <div class="content">
      {{des}}
        </div>
    </div>
    
    <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Latitude: {{lat}}
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Longitude: {{lon}}
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        <a href="/placemark/{{../placemark._id}}/deleteplace/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
      </span>
    </p>
  </footer>
    </div>
  </div>
  {{/each}}
</table>