<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each placemark.places}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{lat}}
        </td>
        <td>
          {{lon}}
        </td>
        <td>
          {{des}}
        </td>
        <td>
          <a href="/placemark/{{../placemark._id}}/deleteplace/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>