<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Password</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      {{#ifCond firstName "Admin"}}
      {{else}}
        <td>
          {{firstName}}
        </td>
        <td>
          {{lastName}}
        </td>
        <td>
          {{email}}
        </td>
        <td>
          {{password}}
        </td>
        <td>
          <a href="/admindashboard/deleteuser/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
        {{/ifCond}}
      </tr>
    {{/each}}
  </tbody>
</table>