<table class="table is-fullwidth">
  {{#each placemark.places}}
  <div class="card">
    
    <div class="card-content">
      <div class="media">
        <div class="media-content">
        <p class="title is-4"> {{name}}</p>
        <a href="/place/{{_id}}" class="button">
          <span class="icon is-small">
            <i class="fas fa-folder-open"></i>
          </span>
        </a>
      </div>
    </div>
    
    {{> place-image }}

    <div class="content">
      {{des}}
        </div>
    </div>
    
    <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Latitude: {{lat}}
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Longitude: {{lon}}
      </span>
    </p>
     <p class="card-footer-item">
      <span>
        Public: {{isPublic}}
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        <a href="/placemark/{{../placemark._id}}/deleteplace/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
      </span>
    </p>
  </footer>
    </div>
  </div>
  {{/each}}
</table>